<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.KWB.match.MatchDAO">


	<select id="getGamesByMonth" resultType="GameDTO" parameterType="int">
        SELECT * 
        FROM schedule
        WHERE MONTH(date) = #{month}
    </select>
    
    <select id="getHitterByTeam" resultType="PitcherDTO" parameterType="string">
        SELECT * 
        FROM hitters
        WHERE team = #{teamName}
    </select>
    
    <select id="getPitcherByTeam" resultType="HitterDTO" parameterType="string">
        SELECT * 
        FROM pitchers
        WHERE team = #{teamName}
    </select>
    
	
  
  
</mapper>